/*-------------------------------------------*\
    Home.css
\*-------------------------------------------*/

/* home-product */
.home-products__title {
  text-align: center;
}

.home-products__grid {
  margin: auto;
  margin-top: 5rem;
  max-width: 1024px;
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

/* home-description */
.home-description__title {
  text-align: center;
}

.home_description__content {
  margin: auto;
  margin-top: 3rem;
  display: grid;
  gap: 3rem;
  max-width: 1024px;
}

.home_description__img {
  display: block;
  width: 100%;
}

.home_description__text {}


@media screen and (min-width: 720px) {
  
  .home_description__content {
    margin-top: 5rem;
    gap: 5rem;
    grid-template-columns: 1fr 1fr;
  }
}