:root {
    --border-px: 5rem;
}

.SiteHeader {
    background-color: rgb(255, 255, 255);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.Nav {
    /* border: 1px red solid; */
}

.Left {
    display: flex;
    align-items: center;
    margin-left: var(--border-px);
}
.Right {
    display: flex;
    align-items: center;
    margin-right: var(--border-px);
    justify-content: space-around;
}

.Search {
    /* border: 1px red solid; */
    display: flex;
    flex-direction: row;
}

.SearchBar {
    padding: 4px 2px;
    display: flex;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(137, 137, 137, 0.5);
    box-shadow        : 0px 1px 1px 0px rgba(137, 137, 137, 0.5);
    margin-right: 1rem;
    transition: background-color 500ms;
}

.SearchInput {
    border: none;
    outline: none;
}

.SearchButton {
    padding: 3px;
    background: none;
    border: none;
    transition: background-color 500ms;
}

.SearchButton:hover {
    background-color: #feed00
}