:root {
    --border-px: 5rem;
}

.site-header__container {
    background-color: rgb(255, 255, 255);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.Nav {
    /* border: 1px red solid; */
}

.site-header__box:first-child { /* Left section */
    display: flex;
    align-items: center;
    margin-left: var(--border-px);
}

.site-header__logo {
    display: block;
}

/* .site-header__box > svg {
    margin-right: 1rem;
} */

.site-header__box:last-child { /* Right section */
    display: flex;
    align-items: center;
    margin-right: var(--border-px);
    justify-content: space-around;
}

.site-header__search {
    /* border: 1px red solid; */
    display: flex;
    flex-direction: row;
}

.site-header__Search-bar {
    padding: 4px 2px;
    display: flex;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(137, 137, 137, 0.5);
    box-shadow        : 0px 1px 1px 0px rgba(137, 137, 137, 0.5);
    margin-right: 1rem;
    transition: background-color 500ms;
}

.site-header__search-input {
    border: none;
    outline: none;
}

.site-header__search-button {
    padding: 3px;
    background: none;
    border: none;
    transition: background-color 500ms;
}

.site-header__search-button:hover {
    background-color: #feed00
}