.slider {
  width: 100%;
  /* height: 55vh; */
  overflow: hidden;
  position: relative;
}
/* .slider__title {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 4rem;
  color: #fff;
  text-transform: uppercase;
  padding: 0 4rem;
  z-index: 100;
  text-shadow: 0 0 0.5rem rgb(9, 9, 34);
} */
/* .slider-content, */
.slider__item {
  width: 100%;
  height: 400px;
  position: relative;
  background-position: center;
  background-size: cover;
}

.slider__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__item-description {
  position: absolute;
  bottom: 5rem;
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 1rem 0;
  text-shadow: 0 0 6px #fff;
  /* background-color: var(--c3); */
}

.slider .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 16px;
  width: 16px;
  height: 16px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--c3);
}