/* .site-header__search {
    display: flex;
    flex-direction: row;
} */

/* .site-header__Search-bar {
    padding: 4px 2px;
    display: flex;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(137, 137, 137, 0.5);
    box-shadow        : 0px 1px 1px 0px rgba(137, 137, 137, 0.5);
    margin-right: 1rem;
    transition: background-color 500ms;
} */

/* .site-header__search-input {
    border: none;
    outline: none;
}

.site-header__search-button {
    padding: 3px;
    background: none;
    border: none;
    transition: background-color 500ms;
} */

/* .site-header__search-button:hover {
    background-color: #feed00
} */
