.search-box {
    width: 100%;
    max-width: 240px;
    height: 48px;
    border-bottom: 1px solid #ccc;
    box-sizing: content-box;
} 

.search-box__form {
    display: flex;
    /* align-items: stretch; */
    height: 100%;
        
} 

.search-box__input {
    display: block;
    border: none;
    outline: none;
    height: 46px;
    padding: 4px;
    box-sizing: border-box;
    font-family: var(--f1);
    font-size: 1.8rem;
    font-weight: 200;
}

.search-box__button {
    padding: 4px;
    background:none;
    border: none;
    width: 48px;
    height: 48px;

} 

/* .search-box__button-icon{

} */


/* isCollapsed */
.search-box--collapsed .search-box__input {
    display: none;

}
