.site-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eaeaea;
    height: 80px;
    padding: 20px;
    box-sizing: border-box;
    border-top: #000000 20px;
}

.site-footer__logo{
    display: flex;
    width: 30px;
    padding: 30px;
    margin-top: 30px;
}

.site-footer__footprint{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eaeaea;
    height: 80px;
}

.site-footer__footprint-text{
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    box-sizing: border-box;
}