/*-------------------------------------------*\
    SiteHeader.css
\*-------------------------------------------*/

.site-header {
    position: relative;
    display: block;
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 6px #ccc;
}

.site-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
}

.site-header__box:first-child { /* Left section */
    display: flex;
    align-items: center;
}

.site-header__logo {
    display: block;
    width: 40px;
}

.site-header__box:last-child { /* Right section */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.responsive-button {
    width: 48px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 4px;
    box-sizing: border-box;
    cursor: pointer;
    margin-left: 30px;
}

.responsive-button__line {
    width: 100%;
    height: 3px;
    background-color: #888
}

.site-header__account-icon {
    margin-left: 3rem;
}